fastapi
trafilatura
Scrapy
requests
youtube-dl
PyPDF2
moviepy
pydub
vosk
youtube_transcript_api
google-api-python-client
python-frontmatter
tavily-python
Jinja2
dropbox
meilisearch
miniflux
watchdog
archive-reddit-user
bdfr
twilio
slackbot
signalbot
langchain
tiktoken
unstructured
chromadb
pymongo
psycopg2
openai
spacy
git+https://github.com/LIAAD/yake
git+https://github.com/boudinfl/pke.git